[package]
name = "mmtc"
version = "0.2.11"
authors = ["figsoda <figsoda@pm.me>"]
edition = "2018"
description = "Minimal mpd terminal client that aims to be simple yet highly configurable"
readme = "README.md"
homepage = "https://github.com/figsoda/mmtc"
repository = "https://github.com/figsoda/mmtc"
license = "MPL-2.0"
keywords = ["cli", "mpd", "music", "terminal", "tui"]
categories = ["command-line-utilities"]

[dependencies]
anyhow = "1.0.38"
async-io = "1.3.1"
async-net = "1.5.0"
clap = "3.0.0-beta.2"
crossbeam-queue = "0.3.1"
crossterm = "0.19.0"
dirs-next = "2.0.0"
expand = "0.2.0"
futures-lite = "1.11.3"
ron = "0.6.4"
serde = { version = "1.0.123", features = ["derive"] }

[dependencies.tui]
version = "0.14.0"
default-features = false
features = ["crossterm", "serde"]

[profile.release]
lto = true
panic = "abort"
codegen-units = 1
