[package]
name = "mmtc"
version = "0.2.14"
authors = ["figsoda <figsoda@pm.me>"]
edition = "2021"
description = "Minimal mpd terminal client that aims to be simple yet highly configurable"
readme = "README.md"
homepage = "https://github.com/figsoda/mmtc"
repository = "https://github.com/figsoda/mmtc"
license = "MPL-2.0"
keywords = ["cli", "mpd", "music", "terminal", "tui"]
categories = ["command-line-utilities"]

[dependencies]
anyhow = "1.0.65"
async-io = "1.9.0"
async-net = "1.7.0"
clap = { version = "3.2.22", features = ["cargo", "derive", "unicode"] }
crossbeam-queue = "0.3.6"
crossterm = "0.25.0"
dirs = "4.0.0"
expand = "0.2.0"
futures-lite = "1.12.0"
ron = "0.8.0"
serde = { version = "1.0.144", features = ["derive"] }

[dependencies.tui]
version = "0.19.0"
default-features = false
features = ["crossterm", "serde"]

[build-dependencies]
clap = { version = "3.2.22", features = ["derive"] }
clap_complete = "3.2.5"

[profile.release]
lto = true
panic = "abort"
codegen-units = 1
