Config(
    layout: Rows([
        Fixed(1, Columns([
            Ratio(12, Textbox(Text("Title"))),
            Ratio(10, Textbox(Text("Artist"))),
            Ratio(10, Textbox(Text("Album"))),
            Ratio(1, Textbox(Text("Time"))),
        ])),
        Min(0, Queue([
            Column(
                item: Ratio(12, QueueTitle),
                style: [Fg(Indexed(117))],
                selected_style: [Fg(Black), Bg(Indexed(117)), Bold],
            ),
            Column(
                item: Ratio(10, QueueArtist),
                style: [Fg(Indexed(111))],
                selected_style: [Fg(Black), Bg(Indexed(111)), Bold],
            ),
            Column(
                item: Ratio(10, QueueAlbum),
                style: [Fg(Indexed(105))],
                selected_style: [Fg(Black), Bg(Indexed(105)), Bold],
            ),
            Column(
                item: Ratio(1, QueueDuration),
                style: [Fg(Indexed(177))],
                selected_style: [Fg(Black), Bg(Indexed(177)), Bold],
            ),
        ])),
        Fixed(1, Columns([
            Min(0, Textbox(If(Playing, Parts([
                Text("["),
                CurrentElapsed,
                Text("/"),
                CurrentDuration,
                Text("] "),
                If(TitleExist,
                    Parts([
                        CurrentTitle,
                        If(ArtistExist, Parts([
                            Text(" - "),
                            CurrentArtist,
                            If(AlbumExist, Parts([
                                Text(" - "),
                                CurrentAlbum,
                            ])),
                        ])),
                    ]),
                    CurrentFile,
                )
            ])))),
            Fixed(3, TextboxR(Parts([
                If(Repeat,
                    If(Single, Text("🔂"), Text("🔁")),
                ),
                If(Random, Text("🔀")),
                If(Consume, Text("🔥")),
            ]))),
        ])),
    ]),
)
