Config(
    layout: Rows([
        Fixed(1, Columns([
            Ratio(5, Textbox(Text("Title"))),
            Ratio(4, Textbox(Text("Artist"))),
            Ratio(4, Textbox(Text("Album"))),
        ])),
        Min(0, Queue(
            columns: [
                Ratio(5, QueueTitle),
                Ratio(4, QueueArtist),
                Ratio(4, QueueAlbum),
            ],
        )),
        Fixed(1, Textbox(If(Playing, Parts([
            Text("["),
            CurrentElapsed,
            Text("/"),
            CurrentDuration,
            Text("] "),
            If(TitleExist,
                Parts([
                    CurrentTitle,
                    If(ArtistExist, Parts([
                        Text(" - "),
                        CurrentArtist,
                        If(AlbumExist, Parts([
                            Text(" - "),
                            CurrentAlbum,
                        ])),
                    ])),
                ]),
                CurrentFile,
            )
        ])))),
    ]),
)
